# my trial files
choleski.py
tqdm_test.py
models/
log/
log_spdg/
model/
*.pyperf
*.log*
# Unity environments
Reacher_Windows_x86_64/
Crawler_Windows_x86_64/

# tensorboard summaries

# vs-code
.vs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

log_spdg_no_accumulator/tb/20210122_090508/events.out.tfevents.1611302708.Theo-Desktop
log_spdg_no_accumulator/tb/20210122_093038/events.out.tfevents.1611304238.Theo-Desktop
.gitignore
log_spdg_no_accumulator/tb/20210122_094353/events.out.tfevents.1611305033.Theo-Desktop


log_spdg_50_nstep/model/model_   0.pt
log_spdg_50_nstep/model/model_   1.pt
log_spdg_50_nstep/model/model_   2.pt
log_spdg_50_nstep/model/model_   3.pt
log_spdg_50_nstep/model/model_   4.pt
log_spdg_50_nstep/model/model_   5.pt
log_spdg_50_nstep/model/model_   6.pt
log_spdg_50_nstep/model/model_   7.pt
log_spdg_50_nstep/model/model_   8.pt
log_spdg_50_nstep/model/model_   9.pt
log_spdg_50_nstep/model/model_  10.pt
log_spdg_50_nstep/model/model_  11.pt
log_spdg_50_nstep/model/model_  12.pt
log_spdg_50_nstep/model/model_  13.pt
log_spdg_50_nstep/model/model_  14.pt
log_spdg_50_nstep/model/model_  15.pt
log_spdg_50_nstep/model/model_latest.pt
log_spdg_no_accumulator/model/model_   0.pt
log_spdg_no_accumulator/model/model_   1.pt
log_spdg_no_accumulator/model/model_   2.pt
log_spdg_no_accumulator/model/model_   3.pt
log_spdg_no_accumulator/model/model_   4.pt
log_spdg_no_accumulator/model/model_   5.pt
log_spdg_no_accumulator/model/model_   6.pt
log_spdg_no_accumulator/model/model_   7.pt
log_spdg_no_accumulator/model/model_   8.pt
log_spdg_no_accumulator/model/model_   9.pt
log_spdg_no_accumulator/model/model_  10.pt
log_spdg_no_accumulator/model/model_  11.pt
log_spdg_no_accumulator/model/model_  12.pt
log_spdg_no_accumulator/model/model_  13.pt
log_spdg_no_accumulator/model/model_  14.pt
log_spdg_no_accumulator/model/model_  15.pt
log_spdg_no_accumulator/model/model_  16.pt
log_spdg_no_accumulator/model/model_  17.pt
log_spdg_no_accumulator/model/model_  18.pt
log_spdg_no_accumulator/model/model_  19.pt
log_spdg_no_accumulator/model/model_  20.pt
log_spdg_no_accumulator/model/model_  21.pt
log_spdg_no_accumulator/model/model_  22.pt
log_spdg_no_accumulator/model/model_  23.pt
log_spdg_no_accumulator/model/model_  24.pt
log_spdg_no_accumulator/model/model_  25.pt
log_spdg_no_accumulator/model/model_  26.pt
log_spdg_no_accumulator/model/model_  27.pt
log_spdg_no_accumulator/model/model_  28.pt
log_spdg_no_accumulator/model/model_  29.pt
log_spdg_no_accumulator/model/model_  30.pt
log_spdg_no_accumulator/model/model_  31.pt
log_spdg_no_accumulator/model/model_  32.pt
log_spdg_no_accumulator/model/model_  33.pt
log_spdg_no_accumulator/model/model_  34.pt
log_spdg_no_accumulator/model/model_  35.pt
log_spdg_no_accumulator/model/model_  36.pt
log_spdg_no_accumulator/model/model_  37.pt
log_spdg_no_accumulator/model/model_  38.pt
log_spdg_no_accumulator/model/model_  39.pt
log_spdg_no_accumulator/model/model_  40.pt
log_spdg_no_accumulator/model/model_  41.pt
log_spdg_no_accumulator/model/model_  42.pt
log_spdg_no_accumulator/model/model_  43.pt
log_spdg_no_accumulator/model/model_  44.pt
log_spdg_no_accumulator/model/model_  45.pt
log_spdg_no_accumulator/model/model_  46.pt
log_spdg_no_accumulator/model/model_  47.pt
log_spdg_no_accumulator/model/model_  48.pt
log_spdg_no_accumulator/model/model_  49.pt
.vscode/launch.json
.vscode/launch.json
.vscode/settings.json
log_spdg_removed_tile_ops/tb/20210124_115102/events.out.tfevents.1611485466.DESKTOP-DAD.20356.0
log_spdg_removed_tile_ops/tb/20210124_115446/events.out.tfevents.1611485690.DESKTOP-DAD.20240.0
log_spdg_removed_tile_ops/tb/20210124_120226/events.out.tfevents.1611486150.DESKTOP-DAD.13504.0
log_spdg_removed_tile_ops/tb/20210125_132510/events.out.tfevents.1611577514.DESKTOP-DAD.23140.0
log_spdg_removed_tile_ops/tb/20210127_162012/events.out.tfevents.1611760817.DESKTOP-DAD.7252.0
log_spdg_removed_tile_ops/tb/20210127_162049/events.out.tfevents.1611760852.DESKTOP-DAD.4024.0
log_spdg_removed_tile_ops/tb/20210127_162108/events.out.tfevents.1611760872.DESKTOP-DAD.11148.0
log_spdg_removed_tile_ops/tb/20210127_162325/events.out.tfevents.1611761008.DESKTOP-DAD.6744.0
log_spdg_removed_tile_ops/tb/20210127_162433/events.out.tfevents.1611761076.DESKTOP-DAD.10268.0
log_spdg_removed_tile_ops/tb/20210127_162929/events.out.tfevents.1611761372.DESKTOP-DAD.8272.0
log_spdg_removed_tile_ops/tb/20210127_185006/events.out.tfevents.1611769811.DESKTOP-DAD.8432.0
log_spdg_removed_tile_ops/tb/20210127_185118/events.out.tfevents.1611769881.DESKTOP-DAD.17864.0
log_spdg_removed_tile_ops/tb/20210127_202315/events.out.tfevents.1611775398.DESKTOP-DAD.20264.0
log_spdg_removed_tile_ops/tb/20210127_202343/events.out.tfevents.1611775426.DESKTOP-DAD.18576.0
log_spdg_removed_tile_ops/tb/20210127_213646/events.out.tfevents.1611779809.DESKTOP-DAD.15756.0
log_spdg_removed_tile_ops/tb/20210127_213851/events.out.tfevents.1611779934.DESKTOP-DAD.15556.0
log_spdg_removed_tile_ops/tb/20210127_213918/events.out.tfevents.1611779961.DESKTOP-DAD.1960.0
log_spdg_removed_tile_ops/tb/20210127_214104/events.out.tfevents.1611780067.DESKTOP-DAD.17800.0
log_spdg_removed_tile_ops/tb/20210127_214302/events.out.tfevents.1611780185.DESKTOP-DAD.19060.0
log_spdg_removed_tile_ops/tb/20210127_214510/events.out.tfevents.1611780313.DESKTOP-DAD.2252.0
log_spdg_removed_tile_ops/tb/20210127_214643/events.out.tfevents.1611780406.DESKTOP-DAD.19804.0
log_spdg_removed_tile_ops/tb/20210127_214708/events.out.tfevents.1611780431.DESKTOP-DAD.17560.0
log_spdg_removed_tile_ops/tb/20210127_215040/events.out.tfevents.1611780643.DESKTOP-DAD.14644.0
log_spdg_removed_tile_ops/tb/20210127_215122/events.out.tfevents.1611780685.DESKTOP-DAD.16504.0
log_spdg_removed_tile_ops/tb/20210127_215159/events.out.tfevents.1611780722.DESKTOP-DAD.19012.0
log_spdg_removed_tile_ops/tb/20210127_215618/events.out.tfevents.1611780981.DESKTOP-DAD.19400.0
log_spdg_removed_tile_ops/tb/20210127_220419/events.out.tfevents.1611781463.DESKTOP-DAD.17260.0
log_spdg_removed_tile_ops/tb/20210128_174630/events.out.tfevents.1611852393.DESKTOP-DAD.10332.0
log_spdg_removed_tile_ops/tb/20210128_174706/events.out.tfevents.1611852429.DESKTOP-DAD.10320.0
log_spdg_removed_tile_ops/tb/20210128_174848/events.out.tfevents.1611852531.DESKTOP-DAD.23880.0
log_spdg_removed_tile_ops/tb/20210128_175019/events.out.tfevents.1611852622.DESKTOP-DAD.8116.0
log_spdg_removed_tile_ops/tb/20210128_175237/events.out.tfevents.1611852760.DESKTOP-DAD.24120.0
log_spdg_removed_tile_ops/tb/20210128_175318/events.out.tfevents.1611852801.DESKTOP-DAD.17244.0
log_spdg_removed_tile_ops/tb/20210128_175414/events.out.tfevents.1611852858.DESKTOP-DAD.17360.0
log_spdg_removed_tile_ops/tb/20210128_175521/events.out.tfevents.1611852924.DESKTOP-DAD.5632.0
log_spdg_removed_tile_ops/tb/20210128_175901/events.out.tfevents.1611853145.DESKTOP-DAD.23708.0
log_spdg_removed_tile_ops/tb/20210128_180048/events.out.tfevents.1611853251.DESKTOP-DAD.8364.0
log_spdg_removed_tile_ops/tb/20210128_180137/events.out.tfevents.1611853300.DESKTOP-DAD.19796.0
log_spdg_removed_tile_ops/tb/20210128_180403/events.out.tfevents.1611853446.DESKTOP-DAD.19808.0
log_spdg_removed_tile_ops/tb/20210128_180652/events.out.tfevents.1611853616.DESKTOP-DAD.19600.0
log_spdg_removed_tile_ops/tb/20210128_180845/events.out.tfevents.1611853728.DESKTOP-DAD.7612.0
log_spdg_removed_tile_ops/tb/20210128_181114/events.out.tfevents.1611853877.DESKTOP-DAD.2972.0
log_spdg_removed_tile_ops/tb/20210128_181307/events.out.tfevents.1611853990.DESKTOP-DAD.4136.0
log_spdg_removed_tile_ops/tb/20210128_182349/events.out.tfevents.1611854633.DESKTOP-DAD.19116.0
log_spdg_removed_tile_ops/tb/20210128_182649/events.out.tfevents.1611854812.DESKTOP-DAD.12576.0
log_spdg_removed_tile_ops/tb/20210128_182712/events.out.tfevents.1611854835.DESKTOP-DAD.23088.0
log_spdg_unrolled/tb/20210129_203031/events.out.tfevents.1611948634.DESKTOP-DAD.22172.0
log_spdg_unrolled/tb/20210129_203135/events.out.tfevents.1611948698.DESKTOP-DAD.24936.0
log_spdg_unrolled/tb/20210129_203230/events.out.tfevents.1611948753.DESKTOP-DAD.14232.0
log_spdg_unrolled/tb/20210129_203313/events.out.tfevents.1611948796.DESKTOP-DAD.20156.0
log_spdg_unrolled/tb/20210129_203527/events.out.tfevents.1611948930.DESKTOP-DAD.19644.0
log_spdg_unrolled/tb/20210129_203915/events.out.tfevents.1611949158.DESKTOP-DAD.29276.0
log_spdg_unrolled/tb/20210129_204210/events.out.tfevents.1611949333.DESKTOP-DAD.1064.0
log_spdg_unrolled/tb/20210129_210049/events.out.tfevents.1611950452.DESKTOP-DAD.8500.0
log_spdg_unrolled/tb/20210129_210411/events.out.tfevents.1611950654.DESKTOP-DAD.20076.0
log_spdg_unrolled/tb/20210129_211613/events.out.tfevents.1611951376.DESKTOP-DAD.21392.0
log_spdg_unrolled/tb/20210130_063234/events.out.tfevents.1611984758.DESKTOP-DAD.28428.0
log_spdg_unrolled_prio_norm/tb/20210130_085452/events.out.tfevents.1611993295.DESKTOP-DAD.11124.0
log_spdg_unrolled_prio_norm/tb/20210130_085630/events.out.tfevents.1611993393.DESKTOP-DAD.29028.0
log_spdg_unrolled_prio_norm/tb/20210130_090932/events.out.tfevents.1611994176.DESKTOP-DAD.21728.0
log_spdg_unrolled_prio_norm/tb/20210130_091023/events.out.tfevents.1611994226.DESKTOP-DAD.14112.0
log_spdg_unrolled_prio_norm/tb/20210130_091620/events.out.tfevents.1611994583.DESKTOP-DAD.27892.0
log_spdg_unrolled_prio_norm/tb/20210130_102254/events.out.tfevents.1611998577.DESKTOP-DAD.5428.0
log_spdg_unrolled_prio_norm/tb/20210130_102457/events.out.tfevents.1611998700.DESKTOP-DAD.2124.0
log_spdg_unrolled_prio_norm/tb/20210130_141817/events.out.tfevents.1612012701.DESKTOP-DAD.23972.0
log_spdg_unrolled_prio_norm/tb/20210131_100149/events.out.tfevents.1612083712.DESKTOP-DAD.7504.0
